<h3>All Bugs</h3>

<table>
    @foreach(var bug in Bugs)
    {
       <tr>
           <td>@bug.Id</td>
           <td>@bug.Title</td>
           <td>@bug.Description</td>
           <td>@bug.Priority</td>
           <td><a href="/editbug/@bug.Id">Edit</a></td>
       </tr>
    }
</table>


@code {

    [Inject]
    public IBugService BugService{ get; set; }

    public IEnumerable<Bug> Bugs { get; set; }

    protected override void OnInitialized()
    {
        Bugs = BugService.GetBugs().OrderBy(x => x.Priority);
    }

}
